.page {
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-fontsmoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

    background-color: #000;
    color: #fff;
}