.profile__userdata {
  display: flex;
  flex-direction: row;
  padding-left: 20.875px;
}

@media screen and (max-width: 767px) {
  .profile__userdata {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}