.popup__area {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  min-width: 430px;
  min-height: 330px;
  max-height: 330px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
.popup__area {
  min-width: 282px;
  max-width: 282px;
  min-height: 322px;
}
}